:root {
  /*  Core  */
  --core-white: #ffffff;
  --core-black: #1c1b1f;

  --core-dark-gray: #4a5565;
  --core-gray: #757e91;
  --core-light-gray: #a1a7b4;

  --core-dark-blue: #002baa;
  --core-blue: #2e5de9;
  --core-light-blue: #a6c0ff;

  --core-dark-magenta: #9e00a7;
  --core-magenta: #e25be9;
  --core-light-magenta: #f3bff9;

  --core-dark-red: #b41b00;
  --core-red: #fb4a2a;
  --core-light-red: #faaf98;

  --core-dark-orange: #aa5000;
  --core-orange: #faa100;
  --core-light-orange: #fad288;

  --core-dark-yellow: #b48700;
  --core-yellow: #f8dd2f;
  --core-light-yellow: #fff194;

  --core-dark-green: #548000;
  --core-green: #a9e041;
  --core-light-green: #e7fda7;

  --core-dark-turquoise: #006c6c;
  --core-turquoise: #41e0a8;
  --core-light-turquoise: #bdfbcc;

  /*  ICTPC  */
  --ictpc-light-cornflower: #b3cbff;
  --ictpc-bright-red: #ff4757;
  --ictpc-bright-blue: #0038e1;
  --ictpc-chartreuse: #bfee00;
  --ictpc-bright-magenta: #e056fd;
  --ictpc-bright-orange: #fbc503;
}
