a.box {
    text-decoration: none; 
    color: inherit; 
    display: flex; 
}

#ict-cup-header{
    margin-top: 30px;
}

#ictpc26-wordmark {
    width: 405px;
    margin: 15px auto;
}

#openchat, #devclub{
    width: 50px;
    height: 50px;
}

#ictsa {
    width: 100px;
    height: 55px;
}

.menu-container {
    display: grid;
    gap: 30px;
    width: 100%;
    margin-top: 60px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 20px 30px;
}

@media (min-width: 768px) {
    .menu-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 120px 30px;
    }
}

@media (min-width: 1024px) {
    .menu-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 0px 220px 30px;
    }
}

.box {
    border: 1px solid var(--core-white);
    aspect-ratio: 1 / 1; 
    width: 100%;         
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;        
    
    padding: 16px 0px 0px 16px;
    box-sizing: border-box;
    background: transparent;

    position: relative; 
    overflow: visible;

    /* animation */
    transition: transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer; 
}

.box .icon {
    /* animation */
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.box:hover {
    transform: translateY(-8px); 
}

.box:active {
    transform: translateY(-2px) scale(0.98);
    transition: transform 0.05s ease;

    border: 1px solid var(--core-dark-blue);
    background-color: var(--core-white);
}

.icon {
    width: 70px; 
    height: 70px; 
    object-fit: contain; 
}

.box:active .icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(96%) saturate(4422%) hue-rotate(228deg) brightness(90%) contrast(101%);
}

.label {
    font-size: 1.8rem;
    font-weight: bold;
}

.box:active .label {
    filter: brightness(0) saturate(100%) invert(13%) sepia(96%) saturate(4422%) hue-rotate(228deg) brightness(90%) contrast(101%);
}

.corner {
    position: absolute;
    width: 8px;  
    height: 8px;
    border: 1px solid var(--core-white); 
    background-color: var(--ictpc-bright-blue);
}

.box:active .corner {
    border-color: var(--core-dark-blue);
    background-color: var(--core-white);
}

.tl { top: -5px; left: -5px; }  
.tr { top: -5px; right: -5px; }  
.bl { bottom: -5px; left: -5px; }
.br { bottom: -5px; right: -5px; }
