{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}">
{% endblock %}

{% block content %}
<h1 id="ict-cup-header"><b>ICT Cup 2025</b></h1>

<img id="ictpc26-wordmark" src="{{ url_for('static', filename='images/ictpc26-wordmark.svg') }}" alt="ICTPC 2026">
<h5>February 3–4, 2026</h5>
<p class="subtitle">Faculty of Information and Communication Technology, Mahidol University</p>

<!-- <div style="margin: auto; padding-bottom: 0;" class="menu-container-flexbox">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe32IE1bpDc0gZejoQH27qo4L1fKNbnxKMG92tWoctPP-X2GA/viewform?usp=dialog"
        style="text-align: left;" class="cta-box spanning-flexboxes" id="register">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <div class="half-section">
            <div>
                <img class="icon" src="{{ url_for('static', filename='images/icons/rocket.svg') }}" alt="Register Now!">
            </div>
            <div id="register-content">
                <div>
                    <h1 style="font-weight: bold; font-size: xx-large; line-height: 0.8;" id="join-now">Join <i>Now!</i>
                    </h1>
                    <p style="padding: 0; font-size: 1rem; font-weight: normal; line-height: normal;" class="label">
                        Closes
                        31<sup>st</sup>
                        January
                        2026</p>
                </div>
                <div id="countdown-container">
                    <p class="label" id="timer">00:00:00:00</p>
                </div>
            </div>
        </div>
    </a>
</div> -->

<div class="menu-container" style="margin-bottom: 0;">
    <a href="{{ url_for('about') }}" class="box" id="about-box">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/about.svg') }}" alt="About">
        <p class="label">About</p>
    </a>

    <a href="{{ url_for('rules') }}" class="box" id="rules-box">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/rules.svg') }}" alt="Rules">
        <p class="label">Rules</p>
    </a>

    <a href="{{ url_for('teams') }}" class="box" id="teams-box">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/teams.svg') }}" alt="Teams">
        <p class="label">Teams</p>
    </a>

    <a href="{{ url_for('scores') }}" class="box" id="scores-box">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/scores.svg') }}" alt="Scores">
        <p class="label">Scores</p>
    </a>

    <a href="" class="box" id="practice-box" style="display: none;">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/practice.svg') }}" alt="Practice">
        <p class="label">Practice</p>
    </a>

    <a href="" class="box" id="competition-box" style="display: none;">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/competition.svg') }}" alt="Competition">
        <p class="label">Competition</p>
    </a>

    <a href="" class="box" id="photos-box" style="display: none;">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/photos.svg') }}" alt="Photos">
        <p class="label">Photos</p>
    </a>

    <a href="{{ url_for('schedule') }}" class="box" id="schedule-box">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" src="{{ url_for('static', filename='images/icons/schedule.svg') }}" alt="Schedule">
        <p class="label">Schedule</p>
    </a>

    <a href="https://line.me/ti/g2/AswkihiNYWevjxdLcF0wANZjc2bFNKpyooOHsg?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"
        class="box" id="openchat-box" target="_blank">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" id="openchat" src="{{ url_for('static', filename='images/icons/openchat.svg') }}"
            alt="OpenChat">
        <p class="label">OpenChat</p>
    </a>

    <a href="https://www.instagram.com/smo.muict?igsh=MTQ5ODl4YWR6Y3lubA==" class="box" id="smo-box" target="_blank">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon wide-icon" id="smo" src="{{ url_for('static', filename='images/icons/smo.svg') }}"
            alt="Smo MUICT">
        <p class="label">Smo MUICT</p>
    </a>

    <a href="https://www.instagram.com/muict_devclub?igsh=czF4NGlhNGY0eHJ0" class="box" id="devclub-box"
        target="_blank">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>
        <img class="icon" id="devclub" src="{{ url_for('static', filename='images/icons/devclub.svg') }}"
            alt="Dev Club">
        <p class="label">Dev Club</p>
    </a>
</div>

<div style="margin-top: 0; padding-top: 0;" class="menu-container ictpc25">
    <a href="https://www.hackerrank.com/ictpc25-practice-session" style="text-align: left;" class="spanning-flexboxes"
        id="practice-ictpc25" target="_blank">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>

        <img class="icon" src="{{ url_for('static', filename='images/icons/practice.svg') }}" alt="ICTPC25 Practice">
        <p class="label" style="line-height: 1.0;">ICTPC<i>25</i><br>Practice</p>

    </a>
    <a href="https://www.hackerrank.com/ictpc25-competition-session" style="text-align: left;"
        class="spanning-flexboxes" id="competition-ictpc25" target="_blank">
        <span class="corner tl"></span><span class="corner tr"></span>
        <span class="corner bl"></span><span class="corner br"></span>

        <img class="icon" src="{{ url_for('static', filename='images/icons/competition.svg') }}"
            alt="ICTPC25 Competition">
        <p class="label">ICTPC<i>25</i><br>Competition</p>

    </a>
</div>

<script src="{{ url_for('static', filename='glow.js') }}"></script>
<script src="{{ url_for('static', filename='countdown.js') }}"></script>

{% endblock %}